{
	layer4 {



        # ------------------------------------------------------------
        #                        Mail Server
        # ------------------------------------------------------------
        :587 {
            route {
                proxy in-v3.mailjet.com:587
            }
        }
        # ------------------------------------------------------------
        # ------------------------------------------------------------
        # ------------------------------------------------------------



	}
}